/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
/* toto je černá magie, na kterou nešahej! */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
  background-color: #bdc3c7;
  margin: 30px;

}

.shadow{
  box-shadow: 0px 2px 20px 10px rgb(83, 83, 83);
}

.foto {
  width: 300px;
}

.logo {
  background-color: #b92e81;
  border-radius: 50%;
  margin-left: -88px;
  position: absolute;
  top: 175px;
}

.hlavicka{
  position: relative;
}

div{
  width: 300px;
}

.obsah{
  background-color: #31363b;
  margin-top: -30px;
}

p{
  width: 250px;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
  color: rgb(205, 204, 204);
  padding: 10px;
}

h1{
  color: rgb(247, 247, 247);
  margin-left: 15px;
  font-family: "Montserrat", sans-serif;
  padding-top: 50px;
}
/*
BARVY
czechitas                 #b92e81
šedé pozadí stránky       #bdc3c7
tmavé pozadí pod textem   #31363b
dělítka mezi tlačítky     #3f464d
tlačítko portfolio        #e74c3c
tlačítko facebook         #3b5998
tlačítko twitter          #1da1f2
*/


ul {
  width: 300px;
  margin: 0;
  padding: 0;
  display:inline-block;
}
ul li {
  list-style:none;
  margin: 0;
}

.portfolio a {
  width: 300px;
  height: 50px;
  padding-top: 15px;
  margin-top: -15px;
} 

ul li a {
  display:block;
  position:relative;
  width:149px;
  height:50px;
  font-size: 15px;
  padding-top: 15px;
  text-align:center;
  text-decoration:none;
  color:#ffffff;
  transition:.5s;
  background-color: #31363b;
  font-family: "Montserrat", sans-serif;
  text-decoration: solid;
}
 
.twitter a {
  margin-left: 151px;
  margin-top: -50px;
}

.facebook a {
  margin-top: 1px;
}

.portfolio a:hover {
  background-color:  #e74c3c;
}

.facebook a:hover {
  background-color: #3b5998;
}

.twitter a:hover {
  background-color: #1da1f2;
}